<%= render './home/formTopBar' %>

<%= form_tag rem_multiple_partextras_path, method: :delete do %>

<div class="box-wall">
    <br><br>
    <div class="subtitle3 darkblue">
      Remove Extras
    </div>

  <br><br>

    <div class= "subtitle darkblue">
      Remove extras to <%= @participant.name %>
    </div>

  <br><br>

  <div class= "darkblue">
    <% @pextras.each do |pextra|  %>
      <% if pextra.participant_id== @participant.id %>
      	<br>
        <%= pextra.kind %>
        <%= check_box_tag "partextras[]", pextra.id%>
      <% end%>
    <% end %>
  </div>
  
    <br><br>
    <div class="actions">
      <%= button_to "Remove", participants_path, method: :submit,:type =>type="button",:class=>'btn btn-info' %> 
    </div>

  <% end %>

  <br><br><br><br>

  <div class="other-links">
    <%= link_to t('.Back'), participants_path  %>
  </div>
</div>
