<%= render './home/formTopBar' %>
<p id="notice"><%= notice %></p>
<div class="box-wall">
  <br><br>
  <div class="subtitle3 darkblue">
    Participant
  </div>
  <br><br>
  <div class= "darkblue">
    <p>
      <strong>Name:</strong>
      <%= @participant.name %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= @participant.email %>
    </p>
    <p>
      <strong>Appeared:</strong>
      <%= @participant.appeared %>
    </p>
    <p>
      <strong>Extras:</strong>
      <% @partextras.each do |partextra|  %>
      	<% if partextra.participant_id==@participant.id %>
      		<br>
      		<%= partextra.kind %>
       	<% end %>
      <% end %>
    </p>
  </div>
  <br>
  <% if Badge.all.where(Participant_id: @participant.id).size>0 %>
    <div class="badgefront">
      <br>
      <img src="/assets/img/logo.png" width="190" alt="logotipo" >
      <br><br>
      <div class= "dateFont">
        September 13th-15th &nbsp&nbsp&nbsp&nbsp Braga-Portugal
      </div>
      <br><br><br>
      <div class= "nameFont">
        <%= @participant.name %>
      </div>
      <br><br><br>
      <div class= "ticketFont">
        Ticket: <%=Ticket.all.where(id: Participant.all.where(id: @participant.id).last.ticket_id).last.kind %>
      </div>
      <br>
      <%if Partextra.all.where(participant_id:@participant.id).length >0 %>
        <div class= "extrasFont">
          <div class= "rose">
            Extras: 
          </div>
          <% @partextras.each do |partextra|  %>
            <% if partextra.participant_id==@participant.id %>
              -
              <%= partextra.kind %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="badgeback">
      <br>
      <div class= "back_title_Font">
        Usable phone numbers of Braga
      </div>
      <div class="numbers_Font">
        <br>
        National Relief Service ........................ 112
        <br>
        Telecom Informations ............ 118 or 1820
        <br>
        Town Council .......................... 253 203 150
        <br>
        Hospital of Braga .................... 253 027 000
        <br>
        CP Railways (Info) .................. 808 208 208
        <br>
        Central Trucking ..................... 253 209 400
        <br>
        Citizen Store ........................... 707 241 107
        <br>
        PSP (Police) ............................ 253 200 420
        <br>
        GNR (National Guard) ............ 253 203 030
        <br>
        City Council Police .................. 253 609 743
        <br>
        Taxis Central of Braga ............ 253 253 253
        <br>
      </div>
    </div>
  <%end%>
  <br><br><br>
  <%= link_to 'Edit', edit_participant_path(@participant) %> |
  <%= link_to 'Back', participants_path %>
  <br><br><br>
</div>
