<%= render 'formTopBar' %>

<h1>Menu</h1>

<%= link_to "Participants", participants_path, :class => "btn btn-primary btn-lg"%>
<br><br>
<%= link_to "Tickets", tickets_path, :class => "btn btn-primary btn-lg"%>
<br><br>
<%= link_to "Extras", extras_path, :class => "btn btn-primary btn-lg"%>
<br><br>
<%= link_to "Badges", extras_path, :class => "btn btn-primary btn-lg"%>
<br><br>
<%= link_to "Statistics", extras_path, :class => "btn btn-primary btn-lg"%>
<br><br>