<%= render './home/formTopBar' %>

<p id="notice"><%= notice %></p>

<h1>Listing Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Kind</th>
      <th>Money</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.kind %></td>
        <td><%= ticket.money %></td>
        <td><%= button_to "Edit", edit_ticket_path(ticket), method: :get, :class=>'btn btn-danger' %></td>
        <td><%= button_to "Destroy", ticket, method: :delete, data: { confirm: 'Are you sure you want to remove the ticket '+ticket.kind+' from the list?' }, :class=>'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Ticket", new_ticket_path, :class => "btn btn-primary btn-lg"%>

<br><br><br><br>

<div class="backpage"><%= button_to "Back", home_index_path, method: :get, :class=>'btn btn-danger' %></div>

