<%= form_for(@extra) do |f| %>
  <div class="blue-text">
    <% if @extra.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@extra.errors.count, "error") %> prohibited this extra from being saved:</h2>

        <ul>
        <% @extra.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="text-field">
      <%= f.text_field :kind, :placeholder=>"Kind",:class=>"form-control" %>
    </div>
    <br>
    <div class="text-field">
      <%= f.number_field :money, :placeholder=>"Money",:class=>"form-control" %>
    </div>
    <br><br>
    <div class="blue-text">
        <div class="actions">
          <%= f.submit :class=>'btn btn-danger'%>
        </div>
      </div>

  </div>
<% end %>
