<%= render './home/formTopBar' %>

<p id="notice"><%= notice %></p>

<h1>Listing Extras</h1>

<table>
  <thead>
    <tr>
      <th>Kind</th>
      <th>Money</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @extras.each do |extra| %>
      <tr>
        <td><%= extra.kind %></td>
        <td><%= extra.money %></td>
        <td><%= button_to "Edit", edit_extra_path(extra), method: :get, :class=>'btn btn-danger' %></td>
        <td><%= button_to "Destroy", extra, method: :delete, data: { confirm: 'Are you sure you want to remove the extra '+extra.kind+' from the list?' }, :class=>'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Extra", new_extra_path, :class => "btn btn-primary btn-lg"%>

<br><br><br><br>

<div class="backpage"><%= button_to "Back", home_index_path, method: :get, :class=>'btn btn-danger' %></div>
